@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype"),
    url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

body {
  height: 100vh;
  width: 1440px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 94%);
  box-sizing: border-box;
}

.appContainer {
  width: 40%;
  height: 350px;
  margin-top: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  border-bottom-right-radius: 5rem;
}

.appLeft {
  width: 100%;
}

.formDate {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.formDataInputs {
  width: 100%;
  display: flex;
  border-bottom: 2px solid hsl(0, 0%, 86%);
}

.dateWrapper {
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.dateWrapper label {
  padding: .3rem 0;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  color: hsl(0, 1%, 44%);
}

.dateWrapper .errorInputLabel {
  color: hsl(0, 100%, 67%);
}

.dateWrapper input {
  width: 100px;
  padding: 0.5rem 1rem;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: .5rem;
}

.dateWrapper input:focus {
  outline: 1px solid hsl(259, 100%, 65%);
}

.dateWrapper .errorInput {
  border: 1px solid hsl(0, 100%, 67%);
}

.errorNone {
  display: none;
}

.errorInputText {
  margin: 0;
  font-size: .7rem;
  color: hsl(0, 100%, 67%);
}

.formButtonContainer {
  width: 10%;
  position: relative;
}

.formButton {
  height: 60px;
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  bottom: -2rem;
}

.iconArrow {
  height: 20px;
  padding: 1rem;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  cursor: pointer;
}

.iconArrow:hover {
  background-color: hsl(0, 0%, 8%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.showAgeContainer {
  height: calc(100% - 33%);
  font-size: 52px;
}

.ageWrapper {
  display: flex;
  color: hsl(0, 0%, 8%);
}

.ageWrapper p {
  margin: 0;
  font-weight: bold;
  font-style: italic;
}

.ageWrapper p:first-child {
  color: hsl(259, 100%, 65%);
}

.attribution {
  margin-top: auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1025px) {
  body {
    width: 1025px;
  }

  .formButton {
    right: 0;
  }
}

@media (max-width: 769px) {
  body {
    width: 769px;
  }

  .appContainer {
    width: 60%;
  }
}

@media (max-width: 481px) {
  body {
    width: 480px;
  }

  .showAgeContainer {
    margin-top: 30px;
    font-size: 46px;
  }

  .appContainer {
    width: 80%;
  }

  .dateWrapper input {
    width: 80px;
  }

  .formButton {
    right: calc(480px/3);
  }
}

@media (max-width: 376px) {
  body {
    width: 375px;
  }

  .appContainer {
    width: 80%;
  }

  .showAgeContainer {
    margin-top: 30px;
    font-size: 46px;
  }

  .dateWrapper input {
    width: 60px;
  }

  .formButton {
    right: calc(375px/3);
  }
}