@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("truetype"),
    url("Poppins-Bold.ttf") format("truetype");
}

body {
  font-family: 'Poppins', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}